<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">© <span id="currentYear"></span> WeDash. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">Made by <a href="https://www.instagram.com/wemard.eu?igsh=MXNwY3oxMzF3NGRuYQ%3D%3D&utm_source=qr" target="_blank" class="text-primary-600">Wemard</a></p>
        </div>
    </div>
</footer>
<script>document.getElementById('currentYear').textContent = new Date().getFullYear();</script>